body
{
    background-color: black ;
}
.button {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}
.button:hover {
    background-color: #008CBA;
    color: white;
}
p,h1,h2{
    color: white;
}
h1{
    color: black;
}
.div label{
    color: white; 
}

.totalProgram{
    height: auto;
    width: 32%;
    margin: 15px;
}

#TituloPagina{
    font-size: 32px;
    margin-right: 65px;
}

.buttonProgram{
    margin: 15px;
}